.image{
    height:140px;
    width:140px;
}


.choose-container{
    display: grid;
 grid-template-columns: repeat(4 ,1fr);
}

.choose-bg{
    background: rgba(236, 249, 247, 0.497);
}

@media only screen and (max-width:576px){
    .choose-container{
        grid-template-columns: repeat(1 ,1fr)

    }
}

@media only screen and (min-width:577px) and (max-width:992px){
    .choose-container{
        grid-template-columns: repeat(2, 1fr)
    }
}
@media only screen and (min-width:993px) and (max-width:1400px){
    .choose-container{
        grid-template-columns: repeat(4, 1fr)
    }
}
